<!DOCTYPE html>
<html lang="es"> <!-- lenguaje -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñador Freelance</title>

    <link rel="preload" href="/css/normalize.css">
    <link rel="styleSheet" href="/css/styles.css" as="style"> <!-- Permite enlazar el documento a otros recursos-->
    <link rel="styleSheet" href="/css/normalize.css" as="style">

<!-- Importamos fuente desde GoogleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1 class="titulo">Carlos Figueroa <span class="titulomod"></span></h1>
    </header>
    <div class="navBG">
        <nav  class="navP"> <!-- Barra de navegación-->
            <a href="/index.html" >Inicio</a>
            <a href="/views/about.html">Sobre mí</a>
            <a href="/views/contact.html">Contacto</a>
        </nav>
    </div>
    <!-- Banner -->
    <section class="banner_contact"> <!-- Aislar bloque-->
        <div class="contenidoBanner">

        </div>
    </section>
    
    <main class="contenedor_about sombra">
        <div class="about">
                <section class="servicio">
                    <h2 class="">Contacto (En construcción)</h2>
                    
            <p>
                Correo:<br>                   
                Carlos.figeroa36422@outlook.com
            </p>
                  <div class="social_container">
                    <a href="https://github.com/RankFoil"><img class="social" src="../Imagenes/github.webp"></a>
                    <a href="https://facebook.com"><img class="social" src="../Imagenes/facebook.jpg"></a>
                    <a href="https://twitter.com"><img class="social" src="../Imagenes/twitter.jpg"></a>
                </div>  
                </section>
        </div>
    </main>

</body>
</html>